<% include ../partials/boilerplate %>

<div class='account_container'>
  <form method='POST' action='/auth/register'>
    <input name='username' type='text' placeholder='username' required />
    <input name='email' type='email' placeholder='email' required />
    <input name='password' type='password' placeholder='password' required />
    <input name='firstname' type='text' placeholder='first name' required />
    <input name='lastname' type='text' placeholder='last name' required />
    <input type='submit' value='Sign Up!' />
  </form>
</div>

<% include ../partials/end %>