  <nav>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/clothes'>See all clothes</a></li>
          <!--dropdown for /clothes/outfits  -->
          <!--dropdown for /clothes/outfits/add  -->
      <li><a href="/clothes/outfits/">Outfits</a></li>
      <li><a href="/clothes/outfits/outfits_add">Outfits Add</a></li>
      <li><a href='/auth/login'>Login</a></li>
      <li><a href='/auth/register'>Register</a></li>
      <li><a href='/user'>Profile</a></li>
      <li><a href='/auth/logout'>Logout</a></li>
    </ul>
  </nav>