<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title>Clothes</title>
</head>
<body>
    <h1><%=message%></h1>
  <form id='request'>
    <input type='text' name='search' placeholder='Search for something' />
    <input type='submit' value='Search' />
  </form>
 <script src='./src/main.js'></script> 
</body>
</html>