
    body{
        font-family: 'Poppins', sans-serif;
        background: #EEF6F1;
    }
    nav > a {
        align-self: center;
    }
    nav > a:hover {
        text-decoration: none;
    }
    .logo {
        font-family: 'Pacifico', cursive;
        align-self: center;
        font-size: 1.4em;
        position: relative;
        left: -0.5em;
        color: white;
        letter-spacing: 2.5px;
    }
    nav ul li >a {
        background: white;
    }

@media (max-width: 600px){ 
    form#request {
        display: flex;
        margin-top: 4em;
    }
    .search{background: white;padding: 1em 0.5em;color: black;text-align: center;}
    input[value="Search"] {
        padding: 1em;
        /* background: #5a906c; */
        width: 100px;
        cursor: pointer;
        color: white;
    }

    input[type="submit"]{
    cursor: pointer;
    user-select: none;
    }
    input[type="submit"]:active{
    position: relative;
    top: 4px;
    }
    h1.searchResults, h1.pageHeader {
        text-transform: capitalize;
        text-align: center;
        letter-spacing: 2px;
        font-weight: lighter;
        margin-bottom: 1.5em;
        margin-top: 3.5em;
        font-size: 1.5em;
    }
    textarea, input {
        background: 0;
        border: 0;
        width: 100%;
        overflow: hidden;
        outline: 0;
        height: auto;
    }

    nav {display: flex;justify-content: space-between;background: #7F96FF;padding: 1em;z-index: 99999 !important;}

    nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }

    nav ul li {
        display: inline-block;
        text-align: center;
    }

    /* Styling for search results  */

    .col-sm-6.col-md-4 {
        width: 90vw;
        margin: 0 auto;
        margin-bottom: 1em;
    }

    .row {
        display: flex;
        flex-flow: column nowrap;
        margin: 0 auto;
    }
    .searchImgHolder {
        width: 250px;
        height: 250px;
        /* display: flex; */
        margin: 0 auto;
    }
    p.description{
        text-overflow: ellipsis;
        white-space: pre-line;
        overflow: scroll;
        height: 100px;
        width: 100%;
    }

     h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    }

    .caption p {
        text-align: center;
    }
    
    .caption p:first-of-type{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    form[action="/clothes/clothes_add"] *{
        font-weight: 100;
        user-select: none;
    }
    .thumbnail {
        margin-bottom: 1em;
    }
    .productItem {
        display: flex;
        margin: 0 auto;
        width: 90vw;
        flex-flow: column wrap;
        background: salmon;
        border: 1px solid black;
        margin-bottom: 1em;
    }

    div.searchImgHolder img {
        max-width: 100%;
        max-height: 100%;
        display: flex;
        margin: 0 auto;
        border: 1px solid #ddd;
        margin-top: 1em;
    }

    input[value='Flex']{width: auto;font-weight: bold;letter-spacing: 2px;text-transform: uppercase;text-align: center;padding: 0.9em;border-radius: 8px;color: rgb(255, 255, 255);box-shadow: 0px 4px #337ab7;display: flex;margin: 0 auto;margin-bottom: 1em;margin-top: 1em;}

    input[value='Flex']:hover {
        color: black;
    }

    /* input[name="name"] {
        text-align: center;
        font-size: 2em;
        white-space: nowrap;
        text-overflow: clip;
        overflow: hidden;
        margin: 0.5em 0em;
        padding: 0em 0.2em;
    }

    input[name="brand"]{text-align: center;margin: -2em 0em 1em 0em;}

    .productItem form p {line-height: 170%;text-align: justify;padding: 0em 1em;word-spacing: 3px;}

    input[name="price"]{margin-top: 1em;text-align: center;}

    input[name="clothing_type"]{text-align: center;} */


    /*  Clothes_index page */
    .caption div {
        display: flex;
    }

    .edit, .view {
        padding: 1em;
        width: auto;
        text-decoration: none;
        background: rgba(127, 150, 255, 0.7);
        text-transform: uppercase;
        border-radius: 8px;
        color: rgb(255, 255, 255);
        box-shadow: 0px 4px #7F96FF;
        flex: 1;
        text-align: center;
        margin-right: 0.5em;
        position: relative;
        left: 0.5em;
    }

    .edit:hover, .view:hover {
        text-decoration: none;
        color: black;
    }

    .edit:active, .view:active {
        position: relative;
        top: 4px;
    }

    input[value="Delete Item"]{
        background: rgba(107, 47, 47, 0.8);
        width: auto;
        letter-spacing: 2px;
        text-transform: capitalize;
        text-align: center;
        padding: 1em;
        border-radius: 8px;
        color: rgb(255, 255, 255);
        box-shadow: 0px 4px #6b2f2f;
        font-size: 15px;
        display: flex;
        margin: 0 auto;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    /* clothes single  */
    .clothes_single {
        width: 90vw;
        background: salmon;
        margin: 0 auto;
        padding: 1em;
        margin-bottom: 2em;
    }

    .description{line-height: 170%;text-align: justify !important;padding: 0em 1em;}

    .clothes_single p:nth-child(1) {
        text-align: center;
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .clothes_single p:nth-child(3), .clothes_single p:nth-child(4) {
        text-align: center;
        padding: 0.5em;
    }

    /* clothing edit css  */

    .edit_info{
        padding: 1em;
    }
    .edit_info input:not(:last-child){
        background: lightgrey;
        border: 1px solid #bbb;
        height: auto;
    }
 } 
@media(min-width: 601px){
    .col-sm-6.col-md-4 {
        width: 30vw;
        height: 550px;
        margin: 0 auto;
        margin-bottom: 4em;
    }

    .row {
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto;
    }
    .searchImgHolder {
        width: 200px;
        height: 200px;
        /* display: flex; */
        margin: 0 auto;
    }
    p.description{
        text-overflow: ellipsis;
        white-space: pre-line;
        overflow: scroll;
        height: 100px;
        width: 100%;
    }

    h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    }

    .caption p {
        text-align: center;
    }
}