<% include ../../partials/boilerplate %>
<% console.log(data) %>
    <h1> <%= username %> outfits </h1>

    <% data.map((outfit)=>{ %>
        <p><%= outfit.name %> </p>
        <img src="<%= outfit.imagebest %>" />
        <p> <%= outfit.description %> </p>
    <% }) %>

<% include ../../partials/end %>