<% include ../../partials/boilerplate %>
<% console.log(data) %>
    <h1> <%= username %> outfits </h1>

    <% data.map((outfit)=>{ %>
        <p><%= outfit.name %> </p>
        <a href="<%= outfit.outfitid %>"> <%= outfit.outfitname %> </a>
    <% }) %>



<% include ../../partials/end %>